CMakeLists.txt.user
CPackConfig.cmake
CPackSourceConfig.cmake
buildtools/
html/
latex/

# Emacs backup files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build
CMakeLists.txt.user.*
